<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório</title>
  </head>
  <body style="text-align:center">
    <h1>
      INSTRUMENTO PARTICULAR DE PRESTAÇÃO DE SERVIÇOS E HONORÁRIOS ADVOCACÍTIOS
    </h1>
    <p>
      Pelo presente instrumento particular <%= name %>, advogado inscrito na OAB/xx nº
      xxx.xxx com endereço profissional em xxxx, com endereço eletrônico xxxx,
      doravante denominado <b>CONTRATADO</b> convenciona e contrata com xxxxx,
      (profissão), (nacionalidade), inscrito no CPF/MF nº xxxx, e RG nº xxxx,
      residente e domiciliado na rua xxxx, com endereço eletrônico xxxx,
      doravante denominado <b>CONTRATANTE</b>, o seguinte:
    </p>
    <p>
      <b>CLÁUSULA PRIMEIRA</b>. O presente instrumento tem como objeto a
      prestação de serviços advocatícios em favor do <b>CONTRATANTE</b>, para
      propor <b>RECLAMAÇÃO TRABALHISTA</b>, a ser realizado até a segunda instância.
    </p>
    <p>
      <b>Parágrafo único</b>: As atividades inclusas na prestação de serviço,
      objeto deste instrumento, são todas aquelas inerentes ao exercício da
      advocacia, as constantes no Estatuto da Ordem dos Advogados do Brasil ,
      bem como as especificadas no Instrumento Procuratório.
    </p> 
      
      <p><b>CLÁUSULA SEGUNDA</b>.
      Em remuneração aos serviços profissionais ora pactuados (honorários), o
      Contratante pagará ao Contratado a importância de 30% (trinta por cento)
      sobre o proveito final da ação, inclusive FGTS. 
      </p>
      <p><b>Parágrafo primeiro</b>: Na
      hipótese de ser firmado acordo, judicial ou extrajudicial, fica ciente o
      Contratante que será devido a integralidade dos honorários pactuados neste
      instrumento.
      </p> 
      <p><b>Parágrafo segundo</b>: Os pagamentos serão realizados através
      de depósitos no Banco xxx. na conta corrente nº xxx, no Banco xxx, em nome
      do Contratado OU diretamente ao Contratado.
      </p> 
      <p><b>Parágrafo terceiro</b>: Fica
      estabelecido que o valor fixado ou arbitrado judicialmente, a título de
      honorários de sucumbência (artigo , ) porventura existentes, pertencerão,
      por direito, ao Contratado, de acordo com o estabelecido pelos artigos e
      da lei nº 8.906 /1994.
      </p> 
      <p><b>Parágrafo quarto</b>: Fica ainda o <b>CONTRATANTE</b> ciente
      de que com a juntada do presente instrumento nos autos, o <b>CONTRATADO</b>
      poderá requerer em juízo o destaque dos honorários contratuais na forma do
      artigo 22 , parágrafo quarto da Lei 8.906 /1994.
      </p> 
      <p><b>Parágrafo quinto</b>:
      Quando pactuados honorários mínimos ou parcelados, para pagamento futuro e
      ainda indeterminado, ou dependente de condição, este valor será atualizado
      monetariamente, a partir da data da assinatura do contrato, até o efetivo
      pagamento ou início de pagamento, pelo índice INPC.
      </p> 
      <p><b>Parágrafo sexto</b>:
      Sempre que houver falta de pagamento dos honorários dentro dos prazos
      pactuados, sejam integrais ou parcelados, fica acordada a aplicação de
      multa contratual de 20% (vinte por cento), juros de mora de 1% ao mês e
      atualização monetária pelo índice INPC.
      </p> 
      <p><b>CLÁUSULA TERCEIRA</b>. Nos honorários
      avençados não estão incluídas as despesas processuais de viagens,
      fotocópias, despesas para elaboração de conta de liquidação e outras, que
      deverão ser pagas a parte pela Contratante, caso necessárias ao bom
      andamento do processo, das quais, todavia, serão prestadas contas pelo
      Contratado à Contratante sempre que esta requerer.
      </p> 
      <p><b>CLÁUSULA QUARTA</b>. O
      valor total dos honorários poderá ser considerado automaticamente vencido
      e imediatamente exigível, sendo passível de execução, com prévia
      notificação, a ser feita no endereço eletrônico ou telefone de contato
      deixado pelo Contratante, e resguardado o direito aos honorários de
      sucumbência, acrescido de multa contratual de 20 % (vinte por cento),
      juros de mora de 1% (um por cento) ao mês a atualização monetária pelo
      índice INPC, nos seguintes casos: 
      </p>
      <p><b>Parágrafo primeiro</b>: havendo composição
      amigável realizada por qualquer uma das partes litigantes sem anuência do
      Contratado; 
      </p>
      <p><b>Parágrafo segundo</b>: ocorrendo o não pagamento dos honorários
      nas datas estabelecidas, sejam integrais ou parcelados; 
      </p>
      <p><b>Parágrafo
      terceiro</b>: havendo desistência da ação por qualquer circunstância alheia a
      vontade do Contratado; 
      </p>
      <p><b>Parágrafo quarto</b>: sendo cassado o mandato sem
      culpa do Contratado.
      </p> 
      <p><b>CLÁUSULA QUINTA</b>. Fica o Contratado autorizado desde
      já a fazer a retenção de seus honorários quando do recebimento de valores
      devidos ao Contratante, advindos de êxito da demanda, ainda que parcial.
      </p>
      <p><b>CLÁUSULA SEXTA</b>. São <b>OBRIGAÇÕES DO CONTRATANTE</b>: fornecer a documentação
      necessária à propositura e andamento da ação; pagar todas as despesas
      derivadas da causa, tais como custas processuais judiciais, periciais e
      honorários advocatícios da parte contrária, em caso de eventual
      sucumbência; honorários de assistente técnico, se for necessário; despesas
      com viagens, xerox, certidões, averbações e outras, como honorários
      advocatícios contratuais. 
      </p>
      <p><b>Parágrafo primeiro</b>: As informações prestadas
      pelo Contratante ao Contratado para o ingresso da ação serão de sua
      inteira responsabilidade, declarando desde já serem verdadeiras sob as
      penas da lei. 
      </p>
      <p><b>Parágrafo segundo</b>: O <b>CONTRATANTE</b> fica desde já ciente do
      risco de sucumbir em perícia médica ou técnica que se fizer necessária
      durante a instrução processual, devendo pagar ao perito os honorários
      fixados pelo juízo e deduzidos do seu crédito trabalhista, nesta ou em
      outra ação que estiver em curso. 
      </p>
      <p><b>Parágrafo terceiro</b>: Em caso de
      sucumbência recíproca, fica o <b>CONTRANTE</b> ciente de que terá que pagar
      honorários advocatícios para a parte contrária sobre aquilo que não obteve
      êxito na demanda. 
      </p>
      <p><b>CLÁUSULA SÉTIMA</b>. São <b>OBRIGAÇÕES DO CONTRATADO</b>:
      promover a defesa dos interesses do Contratante na ação de <b>RECLAMAÇÃO
      TRABALHISTA</b>, até segunda instância, com diligência e dedicação; obriga-se
      a prestar ao <b>CONTRATANTE</b>, sempre que solicitado, todas as informações
      acerca do processo judicial ou procedimento administrativo em curso.
      </p>
      <p><b>CLÁUSULA OITAVA</b>. Pelo pactuado neste contrato obrigam-se os Contratantes
      e seus sucessores.
      </p> 
      <p><b>CLÁUSULA NONA</b>. O Contratante fica obrigado a, sempre
      que houver mudança de endereço, telefone ou e-mail, comunicar
      imediatamente ao Contratado.
      </p> 
      <p><b>CLÁUSULA DÉCIMA</b>. A inobservância por parte
      da Contratante, de qualquer cláusula deste instrumento acarretará a
      rescisão deste contrato, ficando sujeito aos honorários pactuados, bem
      como multa contratual de 20% (vinte por cento) sobre os mesmos, mais juros
      de 1% (um por cento) ao mês e correção monetária pelo índice INPC.
      </p>
      <p><b>CLÁUSULA DÉCIMA PRIMEIRA</b>. O presente contrato não tem caráter
      personalíssimo, podendo o Contratado ser representado por outro (s)
      advogado (s) em qualquer ato processual.
      </p> 
      <p><b>CLÁUSULA DÉCIMA SEGUNDA</b>. Para
      dirimir qualquer questão oriunda do presente contrato, as partes elegem o
      foro de xxxxx/xxx.
      </p>
      <p>Para firmeza e prova de assim haverem contratado,
      fizeram este instrumento particular, impresso em 2 (duas) vias de igual
      teor e forma, assinado pelas partes contratantes.
      </p> 
      (Jacutinga), <%= flightNumber %> de <%= flightTime %> de 201x. <br/>
      ______________________________ <br/>
      Advogado, OAB/xx nº xxxx <br/>
      ______________________________ <br/>
      CONTRATANTE <br/>
  </body>
</html>
